<div class="col-sm-6">
    <div class="panel panel-primary">
        <div class="panel-heading">Create a new question...</div>

        <div class="panel-body">
            <form autocomplete="off"></form>
                    <div class="input-group">
                        <span class="input-group-addon">Pitanje:</span>
                        <input id="questionInput" type="text" class="form-control" placeholder="Pitanje">
                    </div>
                    <hr />
                    <div class="input-group">
                        <span class="input-group-addon">Tip pitanja:</span>
                        <select id="questionTypeInput" class="form-control" name="sort">
                            <option value="1">Single choice</option>
                            <option value="2">Multiple choices</option>
                            <option value="3">Text</option>
                        </select>
                    </div>
                    <hr />
                    <div class="input-group">
                            <span class="input-group-addon">Odgovor:</span>
                            <input id="answerInput" type="text" class="form-control" placeholder="Odgovor">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="addAnswer()">Dodaj novi</button>
                            </span>
                    </div>
                    <br />
                      
                    <ul id="answersUnorderedlist" class="list-group"></ul>
                    <div id ="questionErrors" class="alert alert-danger col-sm-12 text-center" style="display: none">Error</div>

                    

                    <script>
                        var id = 0;
                        var answers = [];
                        var oldQuestion;
                        onEdit();
                        function onEdit(){
                            var question = <%-JSON.stringify(requestedQuestion)%>
                            populateFields(question);
                        }
                        
                        function populateFields(question){
                            
                            
                            if (question != null){
                                oldQuestion = question.questionId
                                //question
                                document.getElementById("questionInput").value = question.question;

                                //question type
                                var questionTypeSelect = document.getElementById("questionTypeInput");
                                for(var i=0; i < questionTypeSelect.options.length; i++){
                                    if(questionTypeSelect.options[i].text == question.questionType)
                                    questionTypeSelect.selectedIndex = i;
                                }
                                
                                //question aswers
                                if(question.questionAnswers !=null){
                                    for(var i=0; i < question.questionAnswers.length; i++){
                                        document.getElementById("answerInput").value = question.questionAnswers[i].questionAnswer;
                                        addAnswer();
                                    }
                                }
                            }
                        }
                        function removeErrorMessage(){
                            var errorNode = document.getElementById("questionErrors");
                            errorNode.setAttribute("style","display:none");
                            while (errorNode.firstChild) {
                                errorNode.removeChild(errorNode.firstChild);
                            }
                        }

                        function addErrorMessage(message){
                            var errorNode = document.getElementById("questionErrors");
                            removeErrorMessage();
                            errorNode.setAttribute("style","display:block");
                            textNode = document.createTextNode(message);
                            errorNode.appendChild(textNode);
                        }

                        function addAnswer(){
                            var answerInput = document.getElementById("answerInput");
                            var answer = answerInput.value;
                            if(answer.trim().length === 0){
                                addErrorMessage("Please enter answer...")
                                return;
                            }
                            else{
                                var answerObject = {id: id++, answer: answer};
                                
                                answers.push( answerObject );
                                addAnswerToList( answerObject );
                                answerInput.value="";
                            }

                        }
                        function addAnswerToList(answerObject){
                            var answerUlElement = document.getElementById("answersUnorderedlist");
                            var liNode=document.createElement("li");
                            liNode.setAttribute("id","li-id-"+answerObject.id);
                            liNode.setAttribute("class","list-group-item clearfix");
                            var textnode=document.createTextNode(answerObject.answer);

                            //button
                            var divNode = document.createElement("div");
                            divNode.setAttribute("class" , "pull-right button-group");

                            var buttonNode = document.createElement("button");
                            buttonNode.setAttribute("type","button");
                            buttonNode.setAttribute("class","btn btn-danger");
                            buttonNode.innerHTML = "Remove";
                            var functionName="removeAnswerFromList("+"\'"+answerObject.id+"\'"+")";
                            
                            buttonNode.setAttribute("onclick" , functionName )
                            divNode.appendChild(buttonNode);
                            
                            liNode.appendChild(textnode);
                            liNode.appendChild(divNode);
                            answerUlElement.appendChild(liNode);
                            removeErrorMessage();
                        }

                        function removeAnswerFromList(id){
                            
                            var answerUlElement = document.getElementById("answersUnorderedlist");
                            var liNode=document.getElementById("li-id-"+id);
                            answerUlElement.removeChild(liNode);

                            answers = answers.filter(e => e.id != id);
                            
                        }

                        function saveQuestion(){
                            var question = document.getElementById("questionInput").value
                            var questionType = document.getElementById("questionTypeInput");
                            var text = questionType.options[questionType.selectedIndex].text;
                            if(question.trim().length===0){
                                addErrorMessage("Please enter question...");
                                return;
                            }
                            else if(answers.length ===0 && text !== "Text"){
                                addErrorMessage("Please add answers...");
                                return;
                            }
                            
                            var xhttp =new XMLHttpRequest();
                            xhttp.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                                saveQuestionSuccess(this);
                            }
                            };
                            xhttp.open("POST", "/home/questions/add");
                            xhttp.setRequestHeader("Content-Type", "application/json");                            
                            xhttp.send(JSON.stringify({oldQuestion : (oldQuestion != null ? oldQuestion : null)  , newQuestion:question, newQuestionType:text, newQuestionAnswers : answers }));
                        }

                        function saveQuestionSuccess(xhttp){
                            var json = xhttp.responseText;
                            document.location.href = "/home/questions/add";

                            var x = document.getElementById("questionCreatedSuccessMessage");
                            if (x.style.display === "none") {
                                x.style.display = "block";
                            } else {
                                x.style.display = "none";
                            }
                            
                        }                        

                    </script>
                    <button type="submit" class="btn btn-primary" onclick="saveQuestion()">Submit</button>
            </form>

            

        </div>
        

    </div>
    </div>