<legend>Enter answer</legend>
<textarea id="answerTextArea" class="form-control" name="answerText" style="resize:vertical" placeholder="Your answer goes here..."></textarea>
<br />
<div id ="textAnswerError" class="alert alert-danger col-sm-12 text-center" style="display: none">Enter your answer...</div>
<script>

    function validateInputs(){
        if(document.getElementById("answerTextArea").value.trim().length === 0){
            document.getElementById("textAnswerError").setAttribute("style","display:block");
            return false;
        }
        else{
            return true;
        }
    }
    </script>