<legend>Possible answers</legend>
<ul id="ulAnswer" class="radio ">
    <% for(var i=0; i<requestedQuestion.questionAnswers.length;i++){ %>
        <li><input type="radio" name="answerRadioId<%= requestedQuestion.questionAnswers[i].questionAnswerId %>" onclick="radioClicked('answerRadioId<%= requestedQuestion.questionAnswers[i].questionAnswerId %>')" /><label><%= requestedQuestion.questionAnswers[i].questionAnswer %></label></li>
    <% } %>
</ul>
<div id ="selectAnswerError" class="alert alert-danger col-sm-12 text-center" style="display: none">Select answer...</div>

<script>
    var answerSelected = false;
    function radioClicked(radioName){
        answerSelected = true;
        var ulNode = document.getElementById("ulAnswer");
        var inputs = ulNode.getElementsByTagName("input");
        for(var i=0; i<inputs.length;i++){
            inputs[i].checked=false;
        }
        document.getElementsByName(radioName)[0].checked = true;
    }
    function validateInputs(){
        if(answerSelected==false){
            document.getElementById("selectAnswerError").setAttribute("style","display:block");
        }
        return answerSelected;
    }
</script>