<legend>Possible answers</legend>
<div class="col-sm-12">
    <div class="list-group" id="multipleAnswers">
        <a href="#" class="list-group-item active">Choose answer:</a>
        <% for(var i=0; i<requestedQuestion.questionAnswers.length;i++){ %>
            <a href="#" class="list-group-item"> <%= requestedQuestion.questionAnswers[i].questionAnswer %> <input type="checkbox" name="answerCheckBoxId<%= requestedQuestion.questionAnswers[i].questionAnswerId %>" class="pull-right" onclick="checkBoxClicked('answerCheckBoxId<%= requestedQuestion.questionAnswers[i].questionAnswerId %>')"></a>
        <% } %>

    </div>
    <div id ="selectAnswerError" class="alert alert-danger col-sm-12 text-center" style="display: none">Select answer...</div>
</div>

<script>
        var answerSelected = false;
        function checkBoxClicked(checkBoxName){

            if(document.getElementsByName(checkBoxName).checked == true ){
                answerSelected = true;
                return;
            }

            var div =document.getElementById("multipleAnswers");
            var checkBoxes = div.getElementsByTagName("input");
            for(var i=0; i<checkBoxes.length;i++){
                if(checkBoxes[i].checked == true){
                    answerSelected = true;
                    return;
                }
            }
            answerSelected = false;
        }
        function validateInputs(){
            if(answerSelected==false){
                document.getElementById("selectAnswerError").setAttribute("style","display:block");
            }
            return answerSelected;
        }
    </script>