<div class="col-sm-6">
    <div class="panel panel-primary">
        <div class="panel-heading"> <strong> Answer... </strong></div>

        <div class="panel-body">
            <form method="POST" onsubmit="return validateInputs()" action="/home/questions/answer?id=<%= requestedQuestion.questionId %>&type=<%= requestedQuestion.questionType %>">
                <div class="input-group">
                    <span class="input-group-addon">Pitanje:</span>
                    <input id="questionInput" type="text" class="form-control disabled" value=<%= requestedQuestion.question %> disabled>
                </div>
                <hr />
                <div class="input-group">
                    <span class="input-group-addon">Tip pitanja:</span>
                    <select id="questionTypeInput" class="form-control" disabled>
                        <option value="1"> <%= requestedQuestion.questionType %> </option>                        
                    </select>
                </div>
                <hr />

                <% if(requestedQuestion.questionType === 'Multiple choices'){ %>
                    <%- include('answer-multiple-choices') %>
                <%} %>

                <% if(requestedQuestion.questionType === 'Single choice'){ %>
                    <%- include('answer-single-choice') %>
                <%} %>

                <% if(requestedQuestion.questionType === 'Text'){ %>
                    <%- include('answer-text-choice') %>
                <%} %>
                <br />
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            
            

        </div>
        

    </div>
    </div>