<div class="row">

    <% if(questions){ %>

        <% for(var i=0; i<questions.length; i++){ %>
                <div class="col-lg-4" id="divIdQuestionId<%= questions[i].id %>" >
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                               <h4><b>Question: <%= questions[i].question %></b></h4>
                        </div>
                        <div class="panel-body">
                            <p> Picture or something else could be here... </p>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="btn btn-primary" onclick="answerQuestion(<%= questions[i].id %> )">Answer question</button>
                        </div>
                    </div>
                </div>
        <% } %>
    <% } %>

    <script>
        function answerQuestion(questionId){
            var xhttp =new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.location.href = "/home/questions/answer?id="+questionId;
                }
            };
            xhttp.open("GET", "/home/questions/add?id="+questionId, true);
            xhttp.send();
        }
    </script>

</div>

