<div class="row">

    <% if(questions){ %>

        <% for(var i=0; i<questions.length; i++){ %>
                <div class="col-lg-4" id="divIdQuestionId<%= questions[i].id %>" >
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                               <h4><b>Question: <%= questions[i].question %></b></h4>
                        </div>
                        <div class="panel-body">
                            <p> Picture or something else could be here... </p>
                        </div>
                        <div class="panel-footer">                            
                            <button type="button" class="btn btn-primary" onclick="editQuestion(<%= questions[i].id %> )">Edit</button>
                            <button type="button" class="btn btn-danger"  onclick="removeQuestionAjax('divIdQuestionId<%= questions[i].id %>' )">Remove</button>
                        </div>
                    </div>
                </div>
        <% } %>
    <% } %>

    <script>
        function editQuestion(questionId){
            var xhttp =new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.location.href = "/home/questions/add?id="+questionId;
                }
            };
            xhttp.open("GET", "/home/questions/add?id="+questionId, true);
            xhttp.send();
        }
        function removeQuestionAjax(elemenId){
            var xhttp =new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    removeDomElement(elemenId,this);
                }
            };
            var questionId = elemenId.replace("divIdQuestionId","");
            xhttp.open("DELETE", "/home/questions/delete?id="+questionId, true);
            xhttp.send();
        }
        function removeDomElement(elemenId,xhttp){
            var jsonString = xhttp.responseText;
            var json = JSON.parse(jsonString);
            if(json.response === "success"){
                element=document.getElementById(elemenId)
                var parent = element.parentNode;
                parent.removeChild(element);
            }            
        }
    </script>

</div>

