<html>
<head>
    <title>MOP Questionare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>



    <!-- SGNIUP FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label>First name</label>
            <input type="text" class="form-control" name="firstName" placeholder="Name" required>
        </div>
        <div class="form-group">
            <label>Last name</label>
            <input type="text" class="form-control" name="lastName" placeholder="Last name" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" placeholder="somebody@something.com" required>
        </div>        
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label>Repeat password</label>
            <input type="password" class="form-control" name="repeatPassword" placeholder="Password" required>
        </div>        
        <% if (validationErrors) { %>
            <% for(var i=0; i<validationErrors.length;i++) { %>
                <div class="alert alert-danger col-sm-12"><%= validationErrors[i].msg %></div>
            <% } %>
        <% } %>

        <% if (Object.keys(signUpSuccess).length) { %>
            <div class="alert alert-success" role="alert">
             Registration succesfull. Your username is <%= signUpSuccess.username %>. Try to <a href="login" class="alert-link">login</a>.
            </div>
        <% } %>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>

</div>

</div>
</body>
</html>